[Unit]
Description=Incident Management Log Ingestion Service
After=network.target

[Service]
Type=simple
User=habib-hussain
WorkingDirectory=/home/habib-hussain/projects/Incident-Management-System/backend
ExecStart=/bin/bash /home/habib-hussain/projects/Incident-Management-System/backend/ingest_logs.sh once
Restart=on-failure
RestartSec=5
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

# Load .env variables
EnvironmentFile=/home/habib-hussain/projects/Incident-Management-System/backend/.env

# Logging
StandardOutput=append:/home/habib-hussain/projects/Incident-Management-System/backend/.ingest_logs.log
StandardError=append:/home/habib-hussain/projects/Incident-Management-System/backend/.ingest_logs.log

[Install]
WantedBy=multi-user.target
