[Unit]
Description=Similarity API Service
After=network.target

[Service]
Type=simple
User=habib-hussain
WorkingDirectory=/home/habib-hussain/projects/Incident-Management-System/services/similarity-api
ExecStart=/home/habib-hussain/projects/Incident-Management-System/services/similarity-api/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8001
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
